* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: regular;
  src: url(./fonts/AnyConv.com__plain-regular-webfont.ttf);
}

@font-face {
  font-family: light;
  src: url(./fonts/AnyConv.com__plain-light-webfont.ttf);
}

@font-face {
  font-family: lightItalic;
  src: url(./fonts/AnyConv.com__silkserif-lightitalic-webfont.ttf);
}

@font-face {
  font-family: regularItalic;
  src: url(./fonts/AnyConv.com__silkserif-regularitalic-webfont.ttf);
}

.regular {
  font-family: regular;
}

.light {
  font-family: light;
}

.lightItalic {
  font-family: lightItalic;
}

.regularItalic {
  font-family: regularItalic;
}

.mousefollower {
  border: 1px solid rgba(255, 255, 255, 0.526);
  mix-blend-mode: difference;
  height: 4.5vh;
  width: 4.5vh;
  background-color: transparent !important;
}

.main {
  position: relative;
  width: 100%;
  font-family: regular;
  color: #fff;
}

.loader-font-changer {
  color: transparent;
}

.loader-font-changer1 {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.loader-font-changer2 {
  color: white;
  font-family: regular;
}

.page1-hero > .page1-text:nth-child(1) {
  position: relative;
}

.page1-hero > .page1-text:nth-child(1)::before {
  content: "01";
  font-family: lightItalic;
  position: absolute;
  top: 14%;
  font-size: 3vw;
  color: #fff;
  left: 18%;
}

.page3-title > h1::before {
  content: "02";
  margin-top: 0.7vw;
  font-family: lightItalic;
  position: absolute;
  top: 14%;
  font-size: 3vw;
  color: #fff;
  left: -10%;
}

.page3-circle {
  border: 1px solid white;
}

.page4-circle {
  border: 1px solid white;
}

.page5-circle {
  border: 1px solid white;
}
